#box{
    display:grid;
    grid-template-columns: repeat(3,350px);
    gap: 40px;
    margin: 140px;
}
h1{
    font-family: "Sevillana", cursive;
    font-weight: 400;
    font-style: normal;
    margin-top: 60px;
  }
  .image{
    box-shadow: 2px 2px 30px royalblue;
  }
  #navbar{
    display: flex;
    justify-content: space-evenly;
  }
  